@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300&display=swap");
:root {
  --orange: #fe9c01;
  --pad: 15px;
  --marg: 15px;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.product-item {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
